/* your code here */

.logos{
	height:60px;
	border-radius:50px;
}
a{
	color:#B0B1B5;
	text-decoration:none;
	margin-bottom:8px;
}
h3{
	font-size:25px;
	margin-bottom:5px;
}
footer{
	background-color:black;
	color:white;
	padding:25px;
}
.top{
	display:flex;
	justify-content:space-between;
}
.link-boxes{
	display:flex;
	justify-content:space-between;
	
}
.linkbox{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}
.linkbox>p{
	margin:0;
	padding:0;
}
.bottom-details{
	display:flex;
	justify-content:space-between;
	padding:0 20px;
	background-color:#2c303a;
	color:#B0B1B5;
	margin:5px;
}
.media-icons{
	display:flex;
	justify-cont:space-between;
}